**/bin/
**/obj/
.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
.git/
.gitignore
Dockerfile
docker-compose.yml
.dockerignore
.env
**/appsettings.Development.json
**/appsettings.Local.json
**/secrets.json
TestResults/
**/TestResults/
Thumbs.db
.DS_Store