<div class="decrypt-container">
    <div class="go-back-container">
        <span>
            <a routerLink="/">
                <img src="/icons/arrow-left.svg" alt="Go Back" class="icon go-back-icon">
            </a>
        </span>
    </div>
    @if (!isUploading) {
        <app-uploader [isMessageRequired]="false" (upload)="handleFileUpload($event)"></app-uploader>
    } @else {
        <div class="loader-container">
            <div class="loader"></div>
            <p>Uploading...</p>
        </div>
    }
</div>
